h1{
    color: blue;
    background-color: black;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 7px;
}

footer p{
    text-align: center;
    color: red;
    text-decoration: wavy;
    font-weight: 800px;
}